.bc-margin {
    margin-bottom: 60px;
}

.bc-padding {
    padding: 12px 50px;
}

.bc-icons .breadcrumb-item + .breadcrumb-item::before {
    content: none;
}

.bc-icons .breadcrumb-item.active {
    color: #455a64;
    font-weight: bold;
}

.breadcrumb-item {
    margin-bottom: 0;
}

.breadcrumb-link {
    color: #455a64;
}

.breadcrumb-link:hover {
    color: #455a64;
}

.breadcrumb-arrow {
  color: #878787;
}