.hero-image {
    height: 25em;
    padding-top: 5em;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ),
    url("../images/hero-images/hero_chi_siamo.jpg") 50% no-repeat;
    background-size: cover;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.hero-text {
    color: white;
}

h4 {
    margin: 0;
    padding: 0;
}

.title-strip {
    background-color: #009688;
    color: white;
    padding: 7px 20px;
    margin-bottom: 10px;
}

.content {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 4em;
}

span {
    color: #009688;
    font-weight: bold;
}

ul {
    list-style: none;
}

p ul li::before {
    content: "\25AA";
    color: #009688;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}