/*
Teal 50
#E0F2F1
100
#B2DFDB
200
#80CBC4
300
#4DB6AC
400
#26A69A
500
#009688
600
#00897B
700
#00796B
800
#00695C
900
#004D40
*/

.background-teal-500 {
    background-color: #009688;
}

.text-teal-500 {
    color: #009688;
}

.link-not-working {
    color: #cbcbcb;
    cursor: not-allowed;
}

.link-not-working:hover {
    color: #cbcbcb;
    text-decoration: none;
}

.text-teal-50 {
    color: #E0F2F1;
}

.background-teal-50 {
    background-color: #E0F2F1;
}