.footer-link-paragraph {
    margin-bottom: 2px;
}

.footer-column {
    border-left: 1px solid rgba(255, 255, 255, 0.51);
    padding-left: 20px;
}

.footer-link {
    font-size: small;
    text-transform: uppercase;
}

.footer-social {
    font-size: large;
}

.footer-contacts {
    font-size: small;
}

.footer-margin-top {
    margin-top: 70px;
}

@media screen and (max-width: 992px) {
    .footer-social-div {
        border-left: 0;
        padding-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .footer-content-div {
        border-left: 0;
        padding-left: 0;
        text-align: center;
    }
}
