body{
    font-family: 'Raleway', sans-serif;
}

.first-navbar{
    z-index: 9999;
    background-color: white;
/*    border-bottom: 3px solid #009688;*/
    box-shadow: 15px 0px 10px grey;
}

.second-navbar{
    margin-top: 56px;
}

.diprova1{
    height: 300px;
    width: 100%;
    background-color: coral;
}

.diprova2{
    height: 300px;
    width: 100%;
    background-color: darkgoldenrod;
}

#navbarNav{
    width: 100%;
    padding : 0px;
}

.navbar-fluid{
    width: 100%;
}

.navbar-expand .navbar-nav .nav-link{
    text-align: center;
}

.nav-link{
    text-align: center;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    color: inherit;
}

.link-active{
    font-weight: 700;
}

.first-navbar .nav-link:hover{
    text-decoration: underline;
    color:#009688;
}

.second-navbar .nav-link:hover{
    text-decoration: underline;
    color:white;
}


/*se non si mette la min-width la navbar occupa più pixel in altezza di quelli che dovrebbe,
in alternativa si può fissare la height della navbar*/
@media screen and (min-width: 425px){
    .fix-width{
    min-width: 400px;
    
    }
} 