.hero-image {
    height: 25em;
    padding-top: 5em;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ),
    url("../images/hero-images/hero_chi_siamo.jpg") 50% no-repeat;
    background-size: cover;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
    align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
}

.hero-text {
    color: white;
}