/*STRUTTURA GENERALE*/
body {
    padding-top: 55px;
    background-color: #fffdf2;
    font-family: Bitter;
}


/*NAVBAR IN ALTO*/
.navbar-items-container {
    width: 100%;
}

.navbar-items-container li{
    width: 10%;
    margin: auto;
    text-align: center;
    font-size: 16px;
}


/*SLIDESHOW*/
.carousel-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}

.carousel-image-container{
    width: 100%;
    max-height: 192px;
}

@media screen and (min-width: 482px) {.carousel-image-container{max-height: 250px;}}
@media screen and (min-width: 576px) {.carousel-image-container{max-height: 325px;}}
@media screen and (min-width: 768px) {.carousel-image-container{max-height: 400px;}}
@media screen and (min-width: 992px) {.carousel-image-container{max-height: 500px;}}
@media screen and (min-width: 1200px) {.carousel-image-container{max-height: 600px;}}

#carouselExampleIndicators {
    margin-bottom: 20px;
}

/*FEED*/
/*    Generic   */
.feed-container {
    margin: auto auto 30px auto;
    height: auto;
    width: 90%;
    padding: 0;
    max-width: none;
}

.feed-bar, .feed-content {
    padding: 0;
    max-width: none;
}

/*    Feed bar  */
.feed-bar-row {
    padding: 0;
    margin: 0;
    height: 32px;
}

.feed-bar-col-left {
    text-align: left;
    padding: 0;
    border: 3px solid red;
}

.feed-bar-col-right {
    text-align: right;
    padding: 0;
    border: 3px solid red;
}

.feed-bar-row p {
    font-style: italic;
}

.feed-bar-row a {
    color: black;
    text-decoration: underline;
}

.feed-bar-row a:hover {
    color: darkgray;
}

hr {
    margin: 0 0 20px 0;
    padding: 0;
    background-color: black;
    height: 2px;
}

/*    Feed content  */
.feed-content-row {
    width: 100%;
    margin: auto;
}

.feed-content-item {
    padding: 1.5% 1.5% 0 1.5%;
}

.feed-content-item .img-container {
    width: 100%;
    height: 40%;
    margin: 0 0 5% 0;
}

.feed-content-item img {
    width: 100%;
    height: 100%;
}

.feed-content-item h1 {
    height: 11%;
    font-size: 22px;
    font-weight: 700;
    vertical-align: middle;
    
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 0 1% 0;
    text-align: justify;
}

.feed-content-item p {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    height: 43%;
    margin: 0;
    text-align: justify;
}