
.hero-image {
    height: 25em;
    padding-top: 15em;
    margin-bottom: 2em;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url("../images/people/staff.jpg");
    background-size: cover;
    color: #fff;
}

.darken-overlay div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.person-container{
    margin-bottom: 40px;
}

.structures-img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 100%;
}

.structures-img-div {
    border: 1px solid #e7e7e7;
    border-bottom: 0;
    background: #eeeeee;
/*
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
*/
}

.person-photo-container {
    width: 220px;
    margin: auto;
    margin-top: 10px;
}

.structures-content-div {
    background: #eeeeee;
    border: 1px solid #e7e7e7;
    border-top: 0;
    text-align: justify;
    text-justify: inter-word;
}

h4 a:hover {
    text-decoration: underline;
    color: #009688;
}

.paragraph-link a{
    color: black;
}

.white-space {
    height: 70px;
}