.hero-image {
    height: 25em;
    padding-top: 5em;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ),
    url("../images/people/staff.jpg");
    background-size: cover;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.hero-text {
    color: white;
}

.person-photo-container {
/*    width: 350px;*/
    margin: 30px auto 40px auto;
}

.contacts-content {
    margin-top: 30%;
}

@media screen and (min-width: 482px) {.person-photo-container{width: 350px;}}
@media screen and (min-width: 576px) {.person-photo-container{width: 450px;}}
@media screen and (min-width: 768px) {.person-photo-container{width: 290px;}}
@media screen and (min-width: 992px) {.person-photo-container{width: 450px;}}
@media screen and (min-width: 1200px) {.person-photo-container{width: 450px;}}

.person-img {
    border-radius: 100%;
    width: 100%;
}

.paragraph-link a{
    color: black;
}

h4 {
    margin: 0;
    padding: 0;
}

.title-strip {
    width: 100%;
    background-color: #009688;
    color: white;
    padding: 7px 20px;
    margin: 30px auto 10px auto;
    text-align: center;
}

.description {
/*    border: 3px solid blue;*/
    padding: 0;
}

.description-content {
/*    border: 3px solid red;*/
    text-align: justify;
    text-justify: inter-word;
    margin: 15px 4% 0px 4%;
}

.service {
    margin-bottom: 15px;
}

.service a {
    color: black;
}

.service a:hover {
    color: #009688;
}

@media screen and (max-width: 768px) {
    .contacts {
       margin-top: 70px;
    }
}

.bord {
    border: 1px solid black;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 92%;
    max-width: none;
}