.structure{
    background-color: #009688;
    margin: 4px;
    text-align: center;
    padding-top: 13px;
    height: 50px;
    color: white;
}

.service-link{
    color: white;
}

.service-link:hover{
    color:white;
}

h3{
    margin-bottom: 50px;
}

.dont-show-class{
    display: none;
}

.service-description{
    margin-bottom: 20px;
}

.img-holder{
    margin-bottom: 20px;
}

hr{
    margin-bottom: 20px;
}

strong{
    color: #009688;
}