.hero-image {
    height: 25em;
    padding-top: 5em;
    background: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.3)
    ),
    url("../images/foto8.jpg") 50% no-repeat;
    background-size: cover;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
    align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
}

.hero-text {
    color: white;
}

.col-lg-6{
    padding-right:5px;
    padding-left: 5px;
}

.service{
    background-color: #009688;
    margin: 4px;
    text-align: center;
    padding-top: 13px;
    height: 50px;
    color: white;
}

.service-link{
    color: white;
}

.service-link:hover{
    color:white;
}

select{
    margin-bottom: 35px;
    margin-left: -6px;
}

.dont-show-class{
    display: none;
}

p{
    margin-left: -6px;
}