.hero-image {
    height: 25em;
    padding-top: 5em;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ),
    url("../images/hero-images/hero_struttura_1.jpg") 50% no-repeat;
    background-size: cover;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.hero-text {
    color: white;
}

h4 {
    margin: 0;
    padding: 0;
}

.title-strip {
    background-color: #009688;
    color: white;
    padding: 7px 20px;
    margin-bottom: 10px;
}

.description {
    text-align: justify;
    text-justify: inter-word;
}

.service {
    margin-bottom: 15px;
}

.service a {
    color: black;
}

.service a:hover {
    color: #009688;
}

@media screen and (max-width: 768px) {
    .contacts {
       margin-top: 70px;
    }
}

.bord {
    border: 1px solid black;
}