.hero-image {
    height: 25em;
    padding-top: 5em;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ),
    url("../images/hero-images/hero_strutture.jpg") 50% no-repeat;
    background-size: cover;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.hero-text {
    color: white;
}

.structures-img {
    max-height: 100%;
    max-width: 100%;
}

.structures-img-div {
    border: 1px solid #e7e7e7;
    border-bottom: 0;
}

.structures-content-div {
    background: #eeeeee;
    border: 1px solid #e7e7e7;
    border-top: 0;
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
}

h4 a:hover {
    text-decoration: underline;
    color: #009688;
}